.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.black-card{

    -fx-text-fill: blue;
    -fx-font-size: 15px;
    -fx-control-inner-background: #E8FFF5;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-prompt-text-fill: #E8FFF5;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}
.black-card .content {
    -fx-background-radius: 25 ;
    -fx-background-color: #E8FFF5;
}

.text-area {
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color:#E8FFF5;

    /* top-left, top-right, bottom-right, and bottom-left corners, in that 
    order. */
}